:root {
    font-family: "sans-serif";
}

a:link {
  color: light-dark(darkred, lightcoral);
}

a:visited {
  color: light-dark(darkred, lightcoral);
}

a:hover {
  color: light-dark(lightcoral, darkred);
}

a:active {
  color: light-dark(lightcoral, darkred);
}

button {
    border: 2px solid light-dark(darkred, lightcoral);
    background-color: light-dark(lightcoral, darkred);
	padding: 0.5em 0.5em;
	margin: 0.5em 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.quote {
    padding: 5px;
    background-color: light-dark(lightgray, darkgray);
    quoteblock {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.note {
    border-style: solid;
    border: 2px;
    padding: 5px;
    background-color: light-dark(lightblue, darkblue);
}
:target, :target *{
    animation: flash-yellow 1.5s;
}

@keyframes flash-yellow {
    from { background-color: light-dark(yellow, purple); }
    to { background-color: inherit; }
}
